/*body {
  margin: 15px;
  background-color: #F1F3F3;
  font-family: 'Fira Sans', sans-serif;
}*/
.bar {
	/*fill: #6F257F;*/
  fill: rgb(18,152,241);
}
.bar:hover {
  /*fill: #6F257F;*/
  fill: rgb(220,13,138);
	/*fill: #CC0058;*/
  transition: fill 0.25s;
}
text {
  /*font-family: 'Fira Sans', sans-serif;*/
  font-weight: 500;
  font-size: 15px;
  color: #081F2C;
  padding: 1em;
}
.axis path,
.axis line {
  fill: none;
  stroke: #BDC2C6;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path {
	display: none;
}
.y line {
  display: none;
}
.toolTip {
	position: absolute;
  pointer-events: none;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 9px 14px 6px 14px;
  border-radius: 2px;
  text-align: center;
  line-height: 1.3;
  color: #5B6770;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.toolTip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -12px;
}  
.toolTip span {
	font-weight: 500;
  color: #081F2C;
}

.dataHighlight{

  font-size: 4em;
}

.doughnutText{

  font-size: 2em;
}
/*containerMap style*/
.doughnutLabel{
color:#004F7C;
  font-size: 1em;
 border-bottom: 1px;
}

.doughnut{
  line-height: 2em;
  /*text-align: left;*/
/*  background-color: red;
  margin-right:5px;*/
  border-color: red;

border: 2px;

}

.country{

  stroke-width:1px;
  stroke:#004f7c;
}
.country:hover {
  stroke: black;
  stroke-width: 1px;
}
.text{
  font-size:10px;
  text-transform:capitalize;
}
#container {
  /*margin-top: 100px;*/
  margin:20px 10%;
  border:0px solid #000;
  border-radius: 5px;
  height:100%;
  overflow:hidden;
  /*background: #F0F8FF;*/
  background-color: #e6e6e6;
}

 
.shadow {
    
}

.hidden { 
  display: none; 
}

div.tooltip {
 color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
  /*pointer-events: none;*/
}

/*map tooltip*/



.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.equator {
  stroke: #ccc;
  stroke-width: 1px;
}

table {
  margin-top: 30px;
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align: center;
}
th{
  color:white;
  background-color: #004F7C;
  font-size: 1em;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

#totalFingerprinted{
  padding: 20px  20px 20px 0px ;
  /*padding-bottom: 0em;*/
  margin-top: 50px;
  margin-left:100px;
  margin-bottom: 1em;
  text-align: center;
color:#1298F1;
font-size: 2em;
border-left: 2px solid rgb(111, 37, 127);

}

/*#categorizer{

}*/