<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="fingerprinting">

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar-default" style="zoom: 1" ng-controller="FPController">

    {% include header.html %}

    {{ content }}
     <script type="text/javascript" charset="UTF-8" src="http://cookie-script.com/s/474fc3db154b7b9ef45401fdad585459.js"></script>

 {% include footer.html %}
     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
      <script src="{{ site.baseurl}}/script/jquery.min.js"></script>
  <script src="{{ site.baseurl}}/script/bootstrap.min.js" media="screen"></script>
  <script src="{{ site.baseurl}}/script/angular.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="{{ site.baseurl}}/script/dbconnection.js" media="screen"></script>
   <script src="{{ site.baseurl}}/script/main.js" media="screen"></script>
      <script src="{{ site.baseurl}}/script/viz.js" media="screen"></script>
      <script src="{{ site.baseurl}}/script/chroma.min.js"></script> 
      <script src="{{ site.baseurl}}/script/privacymeter-map.js"></script>


  </body>



</html>
